form {
  display: flex;
  flex-direction: column;
}
.form-opacity {
  opacity: 0.4;
}
p {
  font-size: 1.6rem;
}
.form-container {
  background-color: #0b5003;
  color: white;
  padding: 5rem;
  border-radius: 0.5rem;
}
label {
  font-size: 1.7rem;
}
.input-container {
  display: flex;
  background-color: white;
  border-radius: 0.4rem;
  padding-right: 0.8rem;
  /* padding-bottom: 0.8rem; */
  padding-top: 0;
}
.form-control {
  border: none;
  font-size: 1.6rem;
}
.radio-gender {
  gap: 1rem;
}
.form-check-label {
  margin-left: 1rem;
}
.error-msg {
  color: rgb(244, 120, 120);
  font-size: 1.6rem;
}
.success-container {
  background-color: white;
  color: #0b5203;
  border-radius: 0.5rem;
  width: 29.8rem;
  position: absolute;
  margin-top: -50vh;
}
.btn {
  font-size: 1.7rem;
}
